body{
  font-family: sans-serif;
  background-color: #070C9C;
  color: #BBBDFC;
  font-size: 22px;
  padding: 20px;
}

p{
    text-align: justify;
    padding: 10px;
}

h2{
    text-align: center;
}

h1{
    text-align: center;
}

h3{
    text-align: center;
}

img{
    border: 3px solid #BBBDFC;
    border-radius: 20px;
}
